* {
  font-family: "Righteous", cursive;
}
body {
  margin: 0;
  font-family: "Righteous", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Righteous", cursive;
}
